.aside {
  width: 300px;
  &__container {
    padding: 30px;
    border-right: 1px solid gainsboro;
    height: 100vh;
    &__list {
      &__link {
        margin-top: 30px;
        > a {
          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.active {
  padding: 10px 30px;
  border-radius: 8px;
  background: #134e7040;
}
