.bloglist {
  padding-top: 80px;
  @include breakpoint(md) {
    padding: 80px 20px 0 20px;
  }
  .title {
    font-size: 22px;
  }
}

.list {
  width: 300px;
  border-bottom: 1px solid gray;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include breakpoint(md) {
    width: 100%;
  }
}
