header {
  padding: 20px 0;
  background-color: black;
}
.logo {
  font-size: 22px;
  color: white;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li a {
  color: white;
}

.btn {
  display: flex;
  gap: 30px;
}

.btn a {
  padding: 10px 30px;
  background-color: orangered;
  color: white;
}
