.post {
  padding-left: 40px;
  padding-top: 30px;
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    padding-block: 20px;
    padding-right: 20px;
    position: relative;
    &__item {
      padding: 30px;
      margin-top: 20px;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }
    &__title {
      display: flex;
    }
  }
}
